    <div class="container-fluid main_about">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 main_about_left">
                    <img class="img-fluid" src="images/profile.png" alt="Profile Pic">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 main_about_right d-flex flex-column justify-content-center align-items-center">
                   <h1 class="about_header">Welcome To My <span class="span_content"> Weather App</span> !</h1>
                   <p>Hi folks. My name is <span class="span_content">Harshit Kumar Gupta</span>  and I am creating this weather app project while I am in the 6th semester of my college journey.
                      I am pursuing b.tech from <span class="span_content">Silicon Institue of Technology, Odisha</span> and my branch is Computer Science Engineering.</p>
                      <p>To  make this project I have used node.js framework <span class="span_content">express.js</span> in the backend development of the website. To get the weather information I have taken help from the weather API provided by <a href="https://openweathermap.org/api" target="_blank" rel="noopener noreferrer" class="about_link">openweathermap.org</a></p>
                      <p>Have any project ideas in mind and wanna talk about it ? We can definitely do that over a cup of coffee. Feel free to contact me at:</p>
                      <div class="text-center social_icon">
                      <a href="https://www.facebook.com/profile.php?id=100016033718124" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f icon"></i></a>
                      <a href="mailto: harshitkumargupta669@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope icon"></i></a>
                      <a href="https://instagram.com/itz_harshit_gupta?igshid=1xbtbq3xzlniu" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram icon"></i></a>
                      <a href="https://twitter.com/isyoboi_harshit?s=08" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter icon"></i></a>
                      <a href="https://www.linkedin.com/in/harshit-kumar-gupta-a55294186" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in icon"></i></a>
                      </div>
                </div>
              </div>
            </div>
        </div>
    </div>