    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-12 main_header_content">
              <center><h1>Get The <span class="span_content">Real-Time Weather</span> Information Of Your City</h1></center>
              <a href="/weather"
                ><center><button class="btn btn-outline">CHECK NOW</button></center></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>