<div class="container-fluid main_weather">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off"/>
                    <input type="submit" value="Search" id="submitBtn" />
                </form>
            </div>

            <div class="tempInformation">
                <div class="top_layer">
                    <p id="current_day">Current Day</p>
                    <p id="current_date">Current Date</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide">
                        <div class="section">
                            <span class="span_weather">Temp: </span><p class="para_inline" id="temp"></p>
                        </div>
                        <div class="section">
                            <span class="span_weather">Description: </span><p class="para_inline" id="temp_status"></p>
                        </div>
                        <div class="section">
                            <span class="span_weather">Pressure: </span><p class="para_inline" id="pressure_status"></p>
                        </div>
                        <div class="section">
                            <span class="span_weather">Humidity: </span><p class="para_inline" id="humidity_status"></p>
                        </div>
                        <div class="section">
                            <span class="span_weather">Wind: </span><p class="para_inline" id="wind_status"></p>
                        </div>    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>